.login-container {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.login-form h2 {
  margin-bottom: 25px;
  color: #333;
  font-size: 28px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #007bff;
}

.login-form button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.login-form a {
  color: #007bff;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
.login-links {
  margin-top: 1rem;
  text-align: center;
}

.register-text,
.forgot-text {
  margin: 5px 0;
}

.forgot-text a {
  color: #007bff;
  text-decoration: none;
}

.forgot-text a:hover {
  text-decoration: underline;
}

.guest{
  margin-top: 9px !important;
  color: #007bff !important;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
}
